<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="../static/App.css">
  <!-- <script src="{{ url_for('static', filename='js/home.js') }}"></script> -->
  <!-- <script type="text/javascript" src="../static/js/home.js"></script> -->

  <title>Document</title>
</head>
<body>
    
    <br></br>
    <br></br>
    <h3 align="center">Model input</h3>
      <div class="form">
        <input type="file" id="fileInput">
        <div>
          <button class="btn" id="first" onclick="upload()">
            Upload
          </button>
          <button class="btn"id="second" onClick="predict()">
            Predict
          </button>
          <button class="btn" id="third" onClick="visualize()">
            Visualize
          </button>
        </div>
      </div>    
</body>
<script>
  function upload(){

    document.getElementById('first').addEventListener('click', function () {
      var fileInput = document.getElementById('fileInput');
      console.log(fileInput.files[0])
      var formData = new FormData();
      formData.append('file', fileInput.files[0]);

      fetch('/upload', {
        method: 'POST',
        body: formData,
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text();
        })
        .then(result => {
          console.log(result);
        })
        .catch(error => {
          console.error('Error during file upload:', error);
        });
    });
  }

  function predict(){
      document.getElementById('second').addEventListener('click', function () {
      var fileInput = document.getElementById('fileInput');
      console.log(fileInput.files[0])
      var formData = new FormData();
      formData.append('file', fileInput.files[0]);

      fetch('/predict', {
        method: 'POST',
        body: formData,
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text();
        })
        .then(result => {
          document.open();
          document.write(result);
          document.close();
        })
        .catch(error => {
          console.error('Error during file upload:', error);
        });
    });
  }

  function visualize(){
    document.getElementById('third').addEventListener('click', function () {
      var fileInput = document.getElementById('fileInput');
      var formData = new FormData()
      formData.append('file', fileInput.files[0])
      fetch('/visualize', {
        method: 'POST',
        body: formData
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text();
        })
        .then(result => {
          document.open();
          document.write(result);
          document.close();
        })
        .catch(error => {
          console.error('Error during file upload:', error);
        });
    });
  }
  
</script>
</html>