<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="../static/App.css">
  <title>3D Object Detection</title>
</head>

<body>

  <br></br>
  <br></br>
  <h3 align="center">Model input</h3>
  <div class="form">
    <div class="button_group">
      <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="fileInput" accept=".pcd, .npy, .html">
      <button class="btn" id="upload_btn">
        Upload
      </button>
    </form>
    </div>

    <div class="button_group">
      <button class="btn" id="predict_btn" onClick="predict()">
        Predict
      </button>
      <button class="btn" id="visualize_btn" onClick="visualize()">
        Visualize
      </button>
      <button class="btn" id="export_btn" onClick="export_data()">
        Export
      </button>
    </div>
  </div>
</body>
<script>
  function upload() {

    document.getElementById('upload_btn').addEventListener('click', function () {
      var fileInput = document.getElementById('fileInput');
      console.log(fileInput.files[0])
      var formData = new FormData();
      formData.append('file', fileInput.files[0]);

      fetch('/upload', {
        method: 'POST',
        body: formData,
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text();
        })
        .then(result => {
          console.log(result);
        })
        .catch(error => {
          console.error('Error during file upload:', error);
        });
    });
  }

  function predict() {
    document.getElementById('predict_btn').addEventListener('click', function () {
      var fileInput = document.getElementById('fileInput');
      console.log(fileInput.files[0])
      var formData = new FormData();
      formData.append('file', fileInput.files[0]);

      fetch('/predict', {
        method: 'POST',
        body: formData,
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text();
        })
        .then(result => {
          document.open();
          document.write(result);
          document.close();
        })
        .catch(error => {
          console.error('Error during file upload:', error);
        });
    });
  }

  function visualize() {
    document.getElementById('visualize_btn').addEventListener('click', function () {
      var fileInput = document.getElementById('fileInput');
      var formData = new FormData()
      formData.append('file', fileInput.files[0])
      fetch('/visualize', {
        method: 'POST',
        body: formData
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text();
        })
        .then(result => {
          document.open();
          document.write(result);
          document.close();
        })
        .catch(error => {
          console.error('Error during file upload:', error);
        });
    });
  }

  function export_data() {
    document.getElementById('export_btn').addEventListener('click', function () {
      console.log('Not implemented yet!');
    });
  }

</script>

</html>